.color-form{
    color: white !important;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900 !important;
}
.color-text{
    color: rgb(65, 63, 63) !important;
    font-family: 'Times New Roman', Times, serif;
}

.button-color{
    color: #E8D5B5 !important;
}

.button-color:hover{
    color:#9aa2d8 !important;
}
